<div>

<!-- <pre>{{user | json}}</pre> -->

<div class="cover" style="background-image: url({{user.coverImgUrl}})">
  <div class="profile" style="background-image: url({{user.profileImgUrl}})">
    <div class="username">
      {{user.username}} <br />
      {{user.name}}
    </div>
  </div>
</div>
<div class="stats">
  <div class="joinDate" data-title="Joined">{{user.joinDate | date: 'longDate'}} </div> <!--January 26, 2014 -->
  <div class="points" data-title="Points">{{user.points}}</div>
  <div class="wins" data-title="Wins">{{user.wins}}</div>
  <div class="losses" data-title="Losses">{{user.losses}}</div>
</div>

<!-- editable user form data -->
<div ng-controller="accountDataCtrl" ng-show="profileOwner">
<form editable-form name="editableForm" onbeforesave="updateUser($data)">
  <div>
    <span class="title">Name: </span>
    <span editable-text="user.name" e-name="name">
      {{user.name || ''}}
    </span>
  </div>
  <div>
    <span class="title">Cover Image: </span>
    <span editable-text="user.coverImgUrl" e-name="coverImgUrl">
      {{user.coverImgUrl || ''}}
    </span>
  </div>
  <div>
    <span class="title">Profile Image: </span>
    <span editable-text="user.profileImgUrl" e-name="profileImgUrl">
      {{user.profileImgUrl || ''}}
    </span>
  </div>

  <div class="buttons">
    <!-- button to show form -->
    <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
      Edit
    </button>
    <!-- buttons to submit / cancel form -->
    <span ng-show="editableForm.$visible">
      <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
        Save
      </button>
      <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
        Cancel
      </button>
    </span>
  </div>
</form>

</div>

  <section class="images">
    <h3>
      <input type="text" class="filter" ng-model="imageFilter">
      Latest Images
    </h3>
    <div class="grid">
      <div class="grid-block"
           ng-repeat="image in images | filter:imageFilter">
        <div class="block" ng-click="showIt($event, image._id)" data-id="{{image._id}}">
          <img src="{{image.url}}" alt="">
        </div>
      </div>
      <div class="grid-block" ng-show="profileOwner">
        <a href="#/upload">
          <div class="block" style="font-size: 4rem">
            + Upload
          </div>
        </a>
      </div>
    </div>
  </section>
  <ui-view>
  </div>
</div>