<div>

<!-- <pre>{{user | json}}</pre> -->

<div class="cover" style="background-image: url({{user.coverImgUrl}})">
  <div class="profile" style="background-image: url({{user.profileImgUrl}})">
    <div class="username">
      {{user.username}}{{user.name}}
    </div>
  </div>
</div>
<div class="stats">
  <div class="joinDate" data-title="Joined">{{user.joinDate}} January 26, 2014</div>
  <div class="points" data-title="Points">{{user.points}}</div>
  <div class="wins" data-title="Wins">{{user.wins}}</div>
  <div class="losses" data-title="Losses">{{user.losses}}</div>
</div>

  <section class="images">
    <h3>
      <input type="text" class="filter" ng-model="imageFilter">
      Latest Images
    </h3>
    <div class="grid">
      <div class="grid-block"
           ng-repeat="image in images | filter:imageFilter">
        <div class="block" ng-click="showIt($event, image._id)" data-id="{{image._id}}">
          <img src="{{image.url}}" alt="">
        </div>
      </div>
    </div>
  </section>
  <ui-view>
  </div>
</div>