<div ng-controller="imageUploader">

  <form name="imageUpload" ng-submit="submitForm()">
  <h2>Upload</h2>
    <input type="file" ng-file-select="onFileSelect($files)" >
    <div class="imageDragBox" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class" ng-show="dropSupported">or drop file here</div>
    <div ng-file-drop-available="dropSupported=true"
          ng-show="!dropSupported">HTML5 Drop File is not supported!</div>

    <div ng-show="imagePreview" style="width:100%; padding-bottom:56.25%; position:relative;"> 
      <div style="position:absolute; top: 0; bottom:0; left:0; right:0; text-align: center;">
        <img style="max-width:100%; max-height:100%" src="{{imageUrl}}">
      </div>
    </div>
    
    <input type="text" ng-model="imageUpload.title" required placeholder="title">
    <input type="text" ng-model="imageUpload.description" required placeholder="description">
    <input ng-show="imageUploadFinished" type="submit" value="Submit Picture">
    <img ng-show="uploadingBar" src="/images/uploadingbar.gif"/>
    <span class="quit" ng-click="cancel()" >X</span>

    <div class="err" ng-show="errorMsg">
      {{errorMsg}}
    </div>
  </form>



</div>

