<div class="allchallenges">
  <div ng-repeat='request in requests' class="challenge request">
    <div class="half">
      <div class="block">
        <img src="{{request.challengerImage}}">
      </div>
    </div>
    <div class="half">
      <div class="block">
        <img src="{{request.opponentImage}}">
      </div>
    </div>
    <button ng-click="accept(request.id)" class="accept">Accept</button>
    <button ng-click="reject(request.id)" class="reject">Reject</button>
  </div>
  <div class="challenge">
    <h1>There are no more requests!</h1>
  </div>
</div>
