
<!-- <div> -->


<form name="form" ng-submit="submitForm()" >
<h2>Log In</h2>

<input type="email" name="email" ng-model="formData.email"
                                 ng-blur="onBlurEmail()"
                                 ng-focus="emailMsg = false"
                                 placeholder="email" required>
<div ng-show="emailMsg" class="err">
  {{emailStatus}}
</div>
<div class="err" ng-show="passwordStatus">
  {{passwordStatus}}
</div>

<input type="password" name="password" ng-model="formData.password" placeholder="password" required>
<input type="submit" value="Submit">
<a href="#/signup">Don’t have an account? Sign Up Now!</a>
</form>



