<div class="allchallenges scroll">

    <h1>You as Challenger:</h1>

  <div ng-repeat='challenger in challengers' class="challenge">
    <div class="half">
      <div class="block challenger">
        <p>Your Votes:  {{ challenger.challengerVote}}</p>
        <img src="{{challenger.challengerImage}}">
      </div>
    </div>
    <div class="half">
      <div class="block opponent"> 
        <p>Their Votes : {{ challenger.opponentVote}}</p>
        <img src="{{challenger.opponentImage}}">
      </div>
    </div>
  </div>

  <div> 
    <h1>You as Opponent:</h1>
  </div>

  <div ng-repeat='opponent in opponents' class="challenge">
    <div class="half">
      <div class="block challenger">
        <p>Their Vote : {{ opponent.challengerVote}}</p>
        <img src="{{opponent.challengerImage}}">
      </div>
    </div>
    <div class="half">
      <div class="block opponent"> 
        <p>Your Votes : {{ opponent.opponentVote}}</p>
        <img src="{{opponent.opponentImage}}">
      </div>
    </div>
  </div>

 
</div>
