<!DOCTYPE html>
<html >
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/styles/app.css">
  </head>

  <body>
    <!--[if IE 7]>
        <style>
        .getting-started li{overflow:visible;clear:both}.delete{width:690px}
        </style>
    <![endif]-->
    <header>
      <h1>Contrast.io</h1>
      <nav>
        <div class="hamburger">
          <a href="#!">:::</a>
          <div class="dropdown">
            <a href="#/">home</a>
            <a href="#/profile">profile</a>
            <a href="#/challenges">challenges</a>
            <a href="#/login">login/logout</a>
            <a href="#/signup">signup</a>
          </div>
        </div>
      </nav>
    </header>

    <div class="container" ng-app="contrast">
      <div ui-view></div>
    </div>
    <footer>
      &copy; 2014. All Rights Reserved.
      <script src="/js/app.js"></script>
    </footer>
  </body>
</html>

