
<form name="form" ng-submit="submit()" class="css-form">
  <h2>Sign Up</h2>
  <!-- <label for="email">email</label> -->
  <input type="email" name="email" ng-model="formData.email" ng-blur="onBlurEmail()" ng-focus="emailMsg = false" required placeholder="email">

  <input type="text" name="username" ng-model="formData.username" ng-blur="" ng-focus="userMsg = false" required placeholder="username">

  <!-- <label for="password">password</label> -->
  <input type="password" name="password" ng-model="formData.password" required placeholder="password">
  <!-- <label for="confirmPassword">confirm password</label> -->
  <input type="password" name="confirmPassword" ng-model="formData.confirmPassword" ng-blur="onBlurConfirmPassword()" ng-focus="confirmPasswordMsg = false"required placeholder="confirm password">

  <input type="submit" value="Submit">
  <div ng-show="emailMsg" class="err">
    {{emailStatus}}
  </div>
  <div ng-show="confirmPasswordMsg" class="err">
    {{confirmPasswordStatus}}
  </div>
  <div ng-show="serverMsg" class="err">
    {{serverMsg}}
  </div>
  <a href="#/login">Already have an account? Log In Now!</a>
</form>
