.allchallenges
  position absolute
  top 4rem
  left 0
  right 0
  bottom 2rem
  overflow hidden
  .challenge
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    transform translateY(100%)
    font-size 0
    padding 1rem
    @media screen and (max-width: 40rem)
      position static
      transform none
      padding 6rem 0
    button
      position absolute
      bottom 0
      width 50%
      height 4rem
      appearance none
      border 0
      opacity 0.8
      transition 0.5s
      cursor pointer
      &:hover
        opacity 1
      &.accept
        right 0
        background myblue
        color white
      &.reject
        left 0
        background myred
    //border 1px solid black
    &::before
      content ""
      display inline-block
      vertical-align middle
      height 100%
      width 0
      @media screen and (max-width: 40rem)
        display none
    h1
      position absolute
      top 2rem
      left 0
      right 0
      text-align center
      font-size 2rem
      font-family myfont
      font-weight 100
      line-height 0.8
      @media screen and (max-width: 40rem)
        position static
        padding 2rem 0
      small
        font-size 0.5em
        font-weight 400
        color textgrey
    &:first-child
      transition 1s ease-out
      transform translateY(0)
    .half
      display inline-block
      width 50%
      padding-bottom 28.75%
      position relative
      vertical-align middle
      @media screen and (max-width: 40rem)
        width 100%
        padding-bottom 56.5%
      .block
        top 1rem
        left 1rem
        bottom 1rem
        right 1rem
        background lightgrey
        position absolute
        cursor pointer
        font-size 0
        text-align center
        transition 0.3s ease-out
        &:hover
          transform translateY(-1rem)
        &::before
          content ""
          display inline-block
          vertical-align middle
          height 100%
          width 0
        img
          display inline-block
          vertical-align middle
          max-width: 100%
          max-height 100%
      .block.liked
        &::after
          content ""
          position absolute
          top 50%
          left 50%
          width 4rem
          height 4rem
          display block
          margin-top -2rem
          margin-left -2rem
          border-radius 2rem
          background-image url('/images/plus.svg')
          background-size cover
          background-position center center
          opacity 0.8
          animation-name 'popIn'
          animation-duration 0.5s

.allchallenges.scroll
  overflow scroll
  h1
    text-align center
    font-size 2rem
    font-family myfont
    font-weight 100
    line-height 0.8
    margin-top 2rem
  .challenge
    position static
    height auto
    width 100%
    padding 4rem 0
    transform none
    .block p
      position absolute
      top -2rem
      left 0
      right 0
      text-align center
      font-size 1rem
      font-family myfont
      font-weight 200