@import 'nib'

global-reset()

@import './animations'

myfont = 'Helvetica Neue', Helvetica, sans-serif
myblue = #78A7E2
lightgrey = rgb(240, 240, 240)
textgrey = rgb(180,180,180)

@css{
  *, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }
}

html, body
  height 100%
  min-height 100%
  //background rgb(225,225,225

body
  padding-top 4rem
.container
  min-height 100%
  min-height calc(100% - 3rem)
.notifications
  position fixed
  top 4rem
  left 4rem
  z-index 9999

@import './header.styl'

@import './footer'

@import './home/home.styl'

@import './imageDetails/ImageDetails.styl'
@import './profile/profile.styl'
@import './imageUploader/imageUploader.styl'
@import './signup/signup.styl'
@import './challenges/challengeStream.styl'
