@import 'nib'

global-reset()

@import './animations'

myfont = 'Helvetica Neue', Helvetica, sans-serif

html, body
  height 100%
  min-height 100%
  //background rgb(225,225,225

body
  padding-top 4rem

@import './header.styl'

@import './footer'

@import './home/home.styl'